@-webkit-keyframes scale {
  50% {
    transform: scale(1.15);
  }
}

@keyframes scale {
  50% {
    transform: scale(1.15);
  }
}

* {
  font-family: "Ubuntu", sans-serif;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.bg-default {
  background-color: #fff5da;
}

.btn {
  background-color: transparent;
  border: 1px solid #5c2626;
  color: #5c2626;
  outline: none;
  font-weight: 600;
  letter-spacing: 1px;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: #5c2626 !important;
  color: #fff5da;
  border: 1px solid transparent;
}

a {
  text-decoration: none !important;
}

a.link {
  color: #5c2626;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 500;
}

.cmn-hdr {
  text-align: center;
  letter-spacing: 1px;
  color: #5c2626;
}

.badge-primary {
  background-color: #ff847c;
}

.text-primary {
  color: #ff847c !important;
}

.form-control {
  background: transparent;
  border: 1px solid #5c2626;
}

.form-control:hover,
.form-control:active,
.form-control:focus {
  background: transparent;
  border: 1px solid #5c2626;
  box-shadow: 1px 3px 0px #e84a5f !important;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #5c2626 !important;
}

::-moz-placeholder {
  color: #5c2626 !important;
  letter-spacing: 1px;
}

::-ms-input-placeholder {
  color: #5c2626 !important;
  letter-spacing: 1px;
}

::placeholder {
  color: #5c2626 !important;
  letter-spacing: 1px;
}

.slick-track {
  margin: 0;
}

.header .navbar {
  padding-left: 0;
  padding-right: 0;
}

.header .navbar-nav {
  flex: 0 1 auto;
  display: flex;
  justify-content: space-between;
}

.header .navbar-nav li.nav-item {
  margin-right: 10px;
}

.header .navbar-nav a.nav-link {
  color: #5c2626;
  letter-spacing: 1px;
  font-weight: 500;
}

.banner .jumbotron {
  color: #5c2626;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
}

.banner .jumbotron .btn {
  border: 1px solid #fff5da;
  color: #fff5da;
}

.banner .jumbotron .btn:hover,
.banner .jumbotron .btn:active,
.banner .jumbotron .btn:focus {
  background-color: #5c2626 !important;
  color: #fff5da;
  border: 1px solid #5c2626;
}

.banner .reg-form-otr {
  display: flex;
  justify-content: flex-end;
}

.banner .card-slider {
  padding: 25px 0;
  padding-bottom: 0;
}

.banner .card-slider .card {
  overflow: hidden;
  height: 500px;
  border: none;
  border-radius: none;
  background-color: transparent;
}

.banner .card-slider .card img.card-img-top {
  object-fit: cover;
  object-position: center;
  height: 100%;
  animation: scale 20s linear infinite;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  height: 100%;
  -webkit-animation: scale 20s linear infinite;
  animation: scale 20s linear infinite;
}

.banner .card-slider .card::after {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-image: linear-gradient(120deg, white, #fff5da) !important;
  opacity: 0.2 !important;
}

.banner .card-slider .card .card-img-overlay {
  z-index: 10;
}

.banner .card-slider .card .card-img-overlay h1,
.banner .card-slider .card .card-img-overlay p {
  color: #5c2626;
}

.banner .card-slider .card .card-img-overlay p {
  font-size: 20px;
  text-transform: uppercase;
}

.banner .card-slider .card .card-img-overlay span.badge {
  font-size: 22px;
}

.home-banner .jumbotron {
  color: #fff5da;
}

.car-list {
  margin-top: 3rem;
}

.car-list .tab-otr {
  display: flex;
  justify-content: center;
}

.car-list .tab-otr ul {
  flex: 0 0 50%;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.car-list .tab-otr ul li {
  margin-top: 20px;
  flex: 1 1 30%;
  text-align: center;
}

.car-list .tab-otr ul li a {
  display: block;
  padding: 10px;
  position: relative;
}

.car-list .tab-otr ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #e84a5f;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s;
}

.car-list .tab-otr ul li a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.car-list .tab-otr ul li a.active:before {
  visibility: visible !important;
  transform: scaleX(1) !important;
}

.car-list .tab-otr .dropdown-menu {
  border: 0;
  text-align: center;
}

.car-list .card-deck {
  margin-top: 20px;
}

.car-list .card {
  border: none;
  border-radius: 10px;
  background-color: #ffffffb5;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.car-list .card:hover img {
  transform: scale(1.1);
}

.car-list .card .card-img-otr {
  border-radius: 10px;
  overflow: hidden;
  margin: 20px 20px 0 20px;
  height: 200px;
  border: none;
}

.car-list .card .card-img-otr img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
  transition: transform 1s;
}

.car-list .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.car-list .card .card-title {
  color: #5c2626;
  letter-spacing: 1px;
  font-weight: 700;
  text-align: center;
}

.car-list .card .card-text {
  letter-spacing: 1px;
  color: #4b4b4b;
  font-weight: 500;
  text-align: center;
}

.car-list .card .card-deatils {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.car-list .card .card-deatils li {
  flex: 1 1 33%;
  text-align: center;
  border-right: 1px solid grey;
  padding: 5px;
  font-weight: 500;
  font-size: 14px;
  color: #4b4b4b;
}

.car-list .card .card-deatils li:last-child {
  border-right: none;
}

footer {
  margin-top: 120px;
  padding: 20px;
}

footer .nav .nav-item {
  border-right: 1px solid #5c2626;
}

footer .nav .nav-item:last-child {
  border: none;
}

footer .nav .nav-link {
  color: #5c2626;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 0px 15px;
}

.pagination {
  justify-content: center;
}

.pagination .page-link {
  border: 1px solid #5c2626;
  background-color: transparent;
  color: #5c2626;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0 5px;
  outline: none;
  text-decoration: none;
}

.pagination .page-item.disabled .page-link {
  border: 1px solid #5c2626;
  background-color: transparent;
  color: #5c2626;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0 5px;
}

.pagination .page-item.active .page-link {
  color: #fff;
  background-color: #5c2626;
  border-color: #5c2626;
}

.pagination .page-link:hover {
  color: white;
  background-color: #5c2626;
  border-color: #5c2626;
}

.pagination .page-item.disabled .page-link {
  color: #6c757d;
  border-color: #6c757d;
}

.single-details-section .breadcrumb {
  background: transparent;
  margin-top: 1rem;
}

.single-details-section .breadcrumb .breadcrumb-item.active {
  color: #6b6b6b;
}

.single-details-section .breadcrumb-item + .breadcrumb-item::before {
  color: #5c2626;
}

.single-details-section .single-img-otr .card {
  height: 350px;
  border-radius: 10px;
  padding: 20px;
  border: 0;
  position: relative;
  overflow: hidden;
}

.single-details-section .single-img-otr .single-img {
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.single-details-section .slider-img-nav {
  margin-top: 10px;
  /* the parent */
}

.single-details-section .slider-img-nav .card {
  height: 125px;
  padding: 10px;
}

.single-details-section .slider-img-nav .slick-slide {
  margin: 0 5px;
}

.single-details-section .slider-img-nav .slick-list {
  margin: 0 -5px;
}

.single-details-section .sngl-hdr {
  letter-spacing: 1px;
  color: #5c2626;
}

.single-details-section .price-otr {
  font-weight: 600;
  font-size: 20px;
}

.single-details-section .attribute-otr {
  display: flex;
  justify-content: space-between;
}

.single-details-section .attribute-otr .attribute-list {
  flex: 1 1 100%;
  list-style: none;
  padding: 0;
  -moz-column-count: 2;
       column-count: 2;
  max-width: 100%;
}

.single-details-section .attribute-otr .attribute-list li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.single-details-section .attribute-otr .attribute-list li span {
  font-weight: 600;
  letter-spacing: 1px;
  margin-right: 20px;
  color: #6b6b6b;
}

.single-details-section .attribute-otr .attribute-list li span:nth-child(2) {
  font-weight: 400;
}

.single-details-section .action-otr {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
}

.single-details-section .action-otr .btn {
  flex: 0 0 auto;
  margin-right: 20px;
}

.related-list-otr {
  /* the parent */
}

.related-list-otr .slick-slide {
  margin: 0 5px;
}

.related-list-otr .slick-list {
  margin: 0 -5px;
}

.related-list-otr .col-md-4 {
  all: inherit;
}

.cr {
  width: 200px;
  padding: 8px;
  position: absolute;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 700;
  color: #f0f0f0;
  background-color: #f5675a;
  z-index: 100000000;
}

/* Positions */

.cr-top {
  top: 25px;
}

.cr-bottom {
  bottom: 25px;
}

.cr-left {
  left: -50px;
}

.cr-right {
  right: -50px;
}

/* Rotations */

.cr-top.cr-left,
.cr-bottom.cr-right {
  transform: rotate(-45deg);
}

.cr-top.cr-right,
.cr-bottom.cr-left {
  transform: rotate(45deg);
}

.blog-list p.no-blog {
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
  color: #5c2626;
}

.blog-list .card .card-title {
  color: #5c2626;
}

.blog-list .card .card-img-otr {
  overflow: hidden;
}

.blog-list .card img {
  transition: transform 1s;
}

.blog-list .card:hover img {
  transform: scale(1.1);
}

.blog-detail-banner .jumbotron {
  padding-bottom: 2rem;
}

.blog-content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #5c2626;
}

.blog-content p {
  font-size: 1.25rem;
  font-weight: 300;
  word-wrap: break-word !important;
}

.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5,
.blog-content h6 {
  letter-spacing: 1px;
}

.blog-content strong {
  font-weight: 600;
}

.profile .nav .nav-link {
  background-color: transparent;
  color: #5c2626;
  outline: none;
  font-weight: 600;
  letter-spacing: 1px;
}

.profile .nav .nav-link:hover {
  opacity: 80%;
}

.profile .nav .nav-link.active:hover {
  opacity: 100%;
}

.profile .nav .nav-link.active {
  background-color: #5c2626 !important;
  color: #fff5da;
}

.profile .list-group .list-group-item {
  border: 1px solid #5c2626;
  border-radius: 5px;
  background-color: transparent;
  margin-bottom: 10px;
}

.profile .list-group .list-group-item .img-otr {
  height: 115px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.profile .list-group .list-group-item .img-otr img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 1s;
}

.profile .list-group .list-group-item p {
  font-size: 1.2rem;
  font-weight: 300;
  word-wrap: break-word !important;
}

.profile .list-group .list-group-item a {
  color: #5c2626;
}

.profile .list-group .list-group-item a:hover {
  opacity: 80%;
}

.profile .list-group .list-group-item .list-right {
  display: flex;
  flex-flow: column;
  text-align: right;
}

.profile .list-group .list-group-item .list-right p:last-of-type {
  margin: 0;
  margin-top: auto;
}

.invoice {
  position: relative;
  width: 100% !important;
  height: 100%;
  margin: 0 auto;
  color: #001028;
  background: #ffffff;
  font-size: 12px;
  font-family: "Ubuntu", sans-serif;
}

.invoice .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.invoice a {
  color: #5d6975;
  text-decoration: underline;
}

.invoice header {
  padding: 10px 0;
  margin-bottom: 30px;
}

.invoice #logo {
  text-align: center;
  margin-bottom: 10px;
}

.invoice #logo img {
  width: 200px;
}

.invoice h1 {
  border-top: 1px solid #5d6975;
  border-bottom: 1px solid #5d6975;
  color: #5d6975;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px 0;
}

.invoice #project {
  float: left;
}

.invoice #project span {
  color: #5d6975;
  text-align: right;
  width: 52px;
  margin-right: 10px;
  display: inline-block;
  font-size: 0.8em;
}

.invoice #company {
  text-align: right;
}

.invoice #project div,
.invoice #company div {
  white-space: nowrap;
}

.invoice table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

.invoice table tr:nth-child(2n-1) td {
  background: #f5f5f5;
}

.invoice table th,
.invoice table td {
  text-align: center;
}

.invoice table th {
  padding: 5px 20px;
  color: #5d6975;
  border-bottom: 1px solid #c1ced9;
  white-space: nowrap;
  font-weight: normal;
}

.invoice table .service,
.invoice table .desc {
  text-align: left;
}

.invoice table td {
  padding: 20px;
  text-align: right;
}

.invoice table td.service,
.invoice table td.desc {
  vertical-align: top;
}

.invoice table td.unit,
.invoice table td.qty,
.invoice table td.total {
  font-size: 1.2em;
}

.invoice table td.grand {
  border-top: 1px solid #5d6975;
}

.invoice #notices .notice {
  color: #5d6975;
  font-size: 1.2em;
}

.invoice footer {
  color: #5d6975;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #c1ced9;
  padding: 8px 0;
  text-align: center;
}

